##########################################################################
##   .gitignore file for files and directories at the top of the repo   ##
##########################################################################

## vim .swp files
*.swp
*.swo

## Gedit/Nedit temporary files
*~

##Powerpoint files!!
*.pptx 


## log files
*.log
log*
*.wdb

## temporary directory (optional)
tmp/*
temp/*

## test directory content
test/*


## add here further directives if required ...